{% extends "base.html" %}

{% block content %}

    <div id="index-content">
		<a href="" id="index-content-img-1">
			<div id="index-content-img-title">
				<p>&nbsp;&nbsp;Goods</p>
				<p>Management</p>
			</div>
		</a>
		<a href="" id="index-content-img-2">
			<div id="index-content-img-title">
				<p>&nbsp;&nbsp;Vip</p>
				<p>Management</p>
			</div>
		</a>
		<a href="" id="index-content-img-3">
			<div id="index-content-img-title">
				<p>&nbsp;&nbsp;Staff</p>
				<p>Management</p>
			</div>
		</a>
		<a href="" id="index-content-img-4">
			<div id="index-content-img-title">
				<p>&nbsp;&nbsp;Sale</p>
				<p>Management</p>
			</div>
		</a>
	</div>

{% endblock %}