{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
        <div class="col-xl-5">
            <div class="card rounded ">
                <div class="card-body">
                    <br>
                    <h2>Please sign in.</h2>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
                        {% else %}
                            <br><br>
                        {% endif %}
                        <input type="submit" class="btn btn-primary" value="Sign in">
                        &nbsp;<a href="{% url 'register' %}">No account? Create one now!</a>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}