{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="jumbotron" style="padding: 25px; background: #fff; margin: 0">
                  <h3 class="display-6">Difficulty: {{ difficulty }}</h3>
                    <hr class="my-3">
                    <a href="{% url 'record:record_list'%}?difficulty=1" class="badge badge-success">&nbsp;Beginner&nbsp;</a>
                    <a href="{% url 'record:record_list'%}?difficulty=2" class="badge badge-primary">&nbsp;Intermediate&nbsp;</a>
                    <a href="{% url 'record:record_list'%}?difficulty=3" class="badge badge-danger">&nbsp;Expert&nbsp;</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Player</th>
                        <th scope="col">Time</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ record.player_id }}</td>
                            <td>
                                <a href="{% url 'record:user_record' %}?player_id={{ record.player_id }}&difficulty=1">{{ record.player }}</a>
                            </td>
                            <td>{{ record.finish_time }}&nbsp;s</td>
                            <td>{{ record.create_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>

{% endblock %}