{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="jumbotron" style="padding: 25px; background: #fff; margin: 0">
                  <h3 class="display-6">PLAYER:&nbsp;{{ player.username }}</h3>
                    <hr class="my-3">
                    <a href="{% url 'record:user_record' %}?player_id={{ player.pk }}&difficulty=1" class="badge badge-success">&nbsp;Beginner&nbsp;</a>
                    <a href="{% url 'record:user_record' %}?player_id={{ player.pk }}&difficulty=2" class="badge badge-primary">&nbsp;Intermediate&nbsp;</a>
                    <a href="{% url 'record:user_record' %}?player_id={{ player.pk }}&difficulty=3" class="badge badge-danger">&nbsp;Expert&nbsp;</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Time</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in object_list %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ record.get_difficulty_display }}</td>
                            <td>{{ record.finish_time }}&nbsp;s</td>
                            <td>{{ record.create_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>

{% endblock %}